.table-info {
    max-width: 1000px;
    padding: 1em;
    color: white !important;
}

.filtered-view {
    max-width: 1600px !important;
}

.metric-view {
    max-width: 1600px !important;
}

.listing-view {
    max-width: 1300px !important;
}

.retainer-view {
    max-width: 1300px !important;
}
