.tableHeader {
    color: white;
}

.tableBody {
    color: white;
}

.tableRow:hover {
    color: gold;
}

.filler {
    height: 5em;
}

.sr-only {
    display: none;
}

.text-filter {
    margin-left: 1em;
}
