#root {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 450px;
    width: auto !important;
    width: 450px;
}

body {
    background-color: grey;
}

.badge {
    font-size: 1em !important;
}

.table-bordered thead th {
    border-bottom-width: 2px;
    font-size: 2em;
    font-weight: 800;
}

th {
    padding-right: 35px;
    padding-top: 40px;
    font-size: 1.5em;
    font-weight: 600;
}

th,
td {
    padding: 10px;
    padding-top: 35px;
    font-size: 2em;
    font-weight: 800;
}

.maincontainer {
    height: inherit;
    width: inherit;
    background-color: rgba(221, 221, 221, 0.952);
}
.navarea {
    min-height: 5%;
    width: inherit;
    background-color: rgb(15, 65, 65);
    opacity: 0.85;
}
.filterarea {
    min-height: 3em;
    width: inherit;
    background-color: rgb(105, 105, 105);
    border: 10px black;
}
.contentarea {
    height: 95%;
    width: inherit;
    background-color: rgba(221, 221, 221, 0.952);
    overflow-y: auto;
    padding-bottom: 5em;
    overflow-y: hidden;
}

@media only screen and (max-width: 1064px) {
    .contentarea {
        overflow-y: scroll;
    }
}
